# Node modules
**/node_modules/

# Env files
**/.env

# Logs
**/*.log
**/log.txt

# Build artifacts
**/dist/
**/build/

# IDEs
.vscode/
.idea/

# Jest cache
**/.jest-cache/
**/coverage/

# Others
**/.tsbuildinfo
